

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	color: white;
	font-family: futura-pt, sans-serif;
}

body .home {
	background: url(../images/header1.jpeg) no-repeat center center;
	background-size: cover;
	position: relative;
	padding: 0 0;
	color: #fff;
	padding-bottom: 500px;
	padding-top: 50px;
}

body .alt {
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}


header p {
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: white;
}


/*.hero {
	background: url(../images/hero.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	padding-top: 30px;
	padding-bottom: 500px;
}*/

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/*background-color: grey;*/
	padding-left: 15px;
	padding-right: 15px;
}

.container1 {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;

}

.container-flex {
	display: flex;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
}

h2 {
/*	background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	font-weight: 600;
}

nav {
/*	background-color: orange;*/
	display: flex;
	align-items: center;
	color: white;
}

.flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-header ul {
	padding: 0;
}

.flex-header ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
}

header ul {
	padding: 0;
}

header ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
	position: relative;
	color: white;
}

.burger {
	display: none;
}

section {
	padding: 30px 0;
}

@media (max-width: 767px) {
	nav {
		position: absolute;
		padding-right: 15px;
		top: 120px;
		background-color: rgba(255,255,255,0.3);
		right:-160px;
		transition: right 0.4s;
	}

	.flex-header ul li {
		display: block;
		text-align: left;
		padding: 10px 20px;
	}

	.burger {
		display: flex;
		font-size: 40px;
		align-items: center;
		cursor: pointer;
	}

	.open {
		right: 0px;
	}
}

img {
	max-width: 2000px;
	width: 100%;
	align-items: center;
}

.col-4 {
	padding-top: 30px;
}

section {
	padding-top: 10px;
	background-color: black;
}

section .title {
	padding-top: 50px;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1em;
}